@font-face {
    font-family: 'Lato Black';
    src: url("../font/lato/Lato-Black.ttf");
}


@font-face {
    font-family: 'Lato Bold';
    src: url("../font/lato/Lato-Bold.ttf");
}

@font-face {
    font-family: 'Lato Semibold';
    src: url("../font/lato/Lato-Semibold.ttf");
}

@font-face {
    font-family: 'Pacifico';
    src: url("../font/pacifico/Pacifico.ttf");
}

.row {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato Semibold';
    background-color: #c0b3a0;
}

/*div {
border: solid red 1px;
}*/

#view-wrapper {
    padding: 0;
    margin: 0;
}

#main-wrapper {
    padding: 0;
    margin: 0;
    height: 100%;
}

#sidebar-wrapper {
    background-color: #3E324E;
    height: 100vh;
    width: 200px;
    padding: 0;
    margin: 0;
    background: url('../images/sidebar.png');
    background-size: auto 100%;
    float: left;
    transition: all 0.3s linear;
    position: fixed;
}

#nav-toggle {
    padding: 10px;
    padding-left: 0;
    font-size: 25pt;
    float: left;
}

#sidebar-overlay {
    height: 100vh;
    background: rgba(62,49,77,0.85);
}

#sidebar-brand {
    color: white;
    padding: 10px 15px;
}

#site-title {
    font-family: 'Pacifico';
    font-size: 30px;
    text-align: center;
    width: calc(100% - 44px);
}

#sidebar-list {
    margin-top: 30px;
}

.active-nav {
    border-left: solid 5px #e14658;
    /*border-right: solid 3px #e14658;*/
    /*background: rgba(255,255,255,0.1);*/
}

.active-nav .nav-item-icon i {
    color: #e14658;
    font-size: 28px;
}

.active-nav .nav-item-text a {
    color: #e14658;
}

.nav-item {
    padding: 10px;
}

.col.s3.nav-item-icon{
    padding-right: 0;
}

.nav-item-icon {
    width: 100%;
    padding-left: 0px;
}

.nav-item-icon i {
    padding: 5px 0;
    font-size: 25px;
    color: white;
    display: block;
    text-align: center;
    transition: all linear 0.3s;
}

.col.s5.nav-item-text{
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav-item-text a {
    color: white;
    font-size: 20px;
    font-family: 'Lato Semibold';
    /*text-transform: uppercase;*/
    transition: all linear 0.3s;
}

.row.nav-item {
    margin-bottom: 3px;
}

.nav-item:hover > .nav-item-icon i {
    color: #e14658;
    font-size: 20px;
    font-weight: bolder;
    transform: rotateZ(-15deg);
}

.nav-item:hover > .nav-item-text a {
    font-size: 18px;
    color: #e14658;
}

#content-wrapper {
    height: 100vh !important;
    width: calc(100% - 200px);
    padding: 0;
    float: right;
    transition: all 0.3s linear;
    position: static;
}

#profile {
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.1s linear;
}

#profile-icon {
    width: 150px;
    border-radius: 100%;
    margin-bottom: 20px;
    /*border: solid 2px white;*/
}

#profile-name{
    font-family: 'Lato Semibold';
    font-size: 20px;
}
