#content-wrapper {
    background: #c0b3a0;
}

#card-wrapper {
    /*box-shadow: 1px 1px 15px #111 inset;*/
    padding: 20px;
    height: 100vh;
}

#requests-wrapper {
    padding: 10px;
}

/*li {
    background: red;
}*/

.card {
    /*  border: solid 2px white;*/
    border-bottom: 5px solid #e14658;
    padding-bottom: 18px;
    color: white;
}

.card-content {
    text-align: center;
    font-family: 'Lato Semibold';
    font-style: italic;
    line-height: 1em;
}

.card-link {
    border: solid 2px white;
    border-radius: 25px;
    padding: 5px 15px;
    font-style: normal;
    text-transform: uppercase;
    color: white;
}

#view-all-events {
    background-color: #3f3250;
    height: 300px;
}

#view-all-venues {
    background-color: #3f3250;
    height: 300px;
}

#view-all-events  .card-link:hover {
    color: #3f3250;
    background: white;
}

#view-all-venues  .card-link:hover {
    color: #3f3250;
    background: white;
}

#activity-log {
    padding-bottom: 0px;
    border-bottom: 0px;
    height: 300px;
    border-bottom: 5px solid #e14658;
    overflow: scroll;
}

#activity-log-body {
    padding: 0px;
}

#activity-log::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
#activity-log::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#activity-log-header {
    color: #22252C;
    font-family: 'Lato Bold';
    font-size: 18px;
    padding-top: 15px;
    text-align: center;
}

.activity {
    background: #e8e5e5;
    padding: 5px 20px;
    line-height: 3px;
    font-family: 'Lato Semibold';
    font-weight: 500;
    color: #23242B;
    font-size: 12px;
}

.activity:nth-child(2n){
    background: #dddddd;
}

.activity-title {
    font-family: 'Lato Black';
    font-size: 15px;
}

.btn-floating{
    background-color: #e14658;
}


.btn-floating:hover{
    background-color: #3f3250;
}

#overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 500;
    display: none;
    transition: all 0.3s linear;
}

.modal-card {
    position: fixed;
    background: white;
    padding: 30px;
    width: 400px;
    margin: auto;
    z-index: 1000;
    top: 50px;
    right: calc((100% - 400px)/2);
    display: none;
}

.cancel-event {
    float: right;
    margin-top: -25px;
}

#all-reservations {
    color: black;
}

td, th {
    padding: 5px 20px;
    font-weight: bold;
}
