div {
    /*border: solid 1px red;*/
}

#content-wrapper {
    width: 100vw;
}

#main-container {
    height: 100vh;
    padding: 20px;
    padding-top: 50px;
    margin: 0;
}

.card {
    padding: 10px;
}

.card-content {
    text-align: center;
}

#slider-overlay {
    width: 100%;
    height: 100vh;
    background: rgba(36, 36, 44, 0.7);;
    z-index: 10;
    position: absolute;
}

.slider. fullscreen img {
    background-size: cover;
}

@keyframes brand {
    0% {
        border: solid 5px #c0b3a0;
    }
    30% {
        border: solid 6px white;
        color: #e14658;
        transform: rotateZ(20deg);
    }
    50% {
        border: solid 5px #c0b3a0;
        transform: rotateZ(0deg);
    }
    100% {
        border: solid 5px #c0b3a0;
    }
}

h1 {
    margin: 20px auto;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 50px;
    font-family: Lato;
    z-index: 10;
    position: relative;
    color: #e14658;
    color: white;
    border-radius: 100%;
    line-height: 80px;
    border: solid 5px #c0b3a0;
    animation-direction: alternate;
    animation: brand 8s infinite;
    transition: all 0.5s linear;
}



#login-container {
    width: 400px;
    height: auto;
    max-height: 378px;

    background-color: #FFF;
    margin: auto;
    border-top: 5px solid #3f3250;
    border-bottom: 5px solid #3f3250;
    z-index: 10;
}

input:focus {
    border-bottom: 2px solid #3f3250 !important;
    box-shadow: none !important;
}

#login-container .btn {
    width: 100%;
    border-radius: 0;
    /*border: solid 3px #e14658;*/
    background-color: #e14658;
    /*color: #e14658;*/
}

#forgot-password {
    padding: 10px;
    text-align: center;
}

#forgot-password a {
    color: #3f3250;
}

#card-footer {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    z-index: 10;
    position: relative;
}

/*hiding template side nav*/

#content-wrapper {
    transition: 0;
}

#sidebar-wrapper {
    transition: 0;
}

.hidden {
    visibility: hidden;
    display: none;
    width: 0 !important;
}


#login{
    height: auto;
}

#login-views{
    margin-bottom: 0px;
}

label{
    text-align: left;
}

#form-scroll{
    overflow-y: scroll;
    height: 195px;
}

#sign-up .row{
    margin-bottom: 0px;
}

::-webkit-scrollbar { 
    display: none; 
}

#form-submit{
    margin-top: 15px;
}