#content-wrapper {
    background-image: url("/assets/images/profile-cover.jpg");
    height: 100vh;
}

#profile-content {
    height: 100vh;
    background-color: rgba(0,0,0, 0.4);
    padding: 20px 50px;
    color: black;
}

#edit-profile-wrapper {
    background-color: white;
    padding: 20px 10px;
    color: black;
    /*float: right;*/
}

.input-wrapper {
    margin-bottom: -5px;
    padding: 0;
    color: black;
}

.input-field input:focus + label {
  color: #3F3250 !important;
}

.row .input-field input:focus {
  border-bottom: 1px solid #3F3250 !important;
  box-shadow: 0 1px 0 0 #3F3250 !important
}

.btn {
    background-color: #3F3250;
}

.btn:hover {
    background-color: #E14658;
}

.vertical-align-content {
  background-color:#f18c16;
  height:200px;
  display:flex;
  align-items:center;
}


#profile-card-container{
    border-bottom: 5px solid rgb(225, 70, 88);
}

  #profile-info-header {
    color: #22252C; 
    font-family: 'Lato Bold'; 
    font-size: 18px; 
    text-align: center;
    margin-bottom: 20px;
  }



#profile-content > div{
    padding:9% 0px;
}