<link rel="stylesheet" href="assets/css/admin-home.css">
<script type="text/javascript" src="assets/js/jspdf.min.js"></script>
<script type="text/javascript" src="assets/js/jspdf.plugin.autotable.js"></script>

<script type="text/javascript" src="assets/js/auth.js"></script>
<script type="text/javascript" src="assets/js/admin-all-users.js"></script>
<script type="text/javascript" src="assets/js/defaults.js"></script>
<script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>

<div id="main-wrapper" class="row">

	<div id="sidebar-wrapper" class="row">
        <div id="sidebar-overlay">
            <div id="sidebar-brand">
                <i class="material-icons" id="nav-toggle">menu</i>
                <h5 id="site-title">Events</h5>
            </div>
            <div id="profile">
                <img src="../assets/images/pusheen.gif" id="profile-icon">
                <span id="profile-name" class="white-text"></span>
            </div>
            <div id="sidebar-list">
                <a href="/#/admin/home">
                    <div class="row nav-item active-nav" id="side-nav-home">
                        <div class="col s3 nav-item-icon"><i class="fa fa-home" aria-hidden="true"></i></div>
                        <div class="col s5 nav-item-text"><a href="/#/admin/home">Home</a></div>
                    </div>
                </a>
                <a href="/#/admin/events">
                    <div class="row nav-item active-nav" id="side-nav-all-events">
                        <div class="col s3 nav-item-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                        <div class="col s5 nav-item-text"><a href="/#/admin/events">Events</a></div>
                    </div>
                </a>
                <a href="/#/admin/venues">
                    <div class="row nav-item active-nav" id="side-nav-all-venues">
                        <div class="col s3 nav-item-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="col s5 nav-item-text"><a href="/#/admin/venues">Venues</a></div>
                    </div>
                </a>
                <a href="/#/admin/users">
                    <div class="row nav-item active-nav" id="side-nav-all-users">
                        <div class="col s3 nav-item-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                        <div class="col s5 nav-item-text"><a href="/#/admin/users">Users</a></div>
                    </div>
                </a>
                <div class="row nav-item" ng-click="logout()">
                    <div class="col s3 nav-item-icon"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
                    <div class="col s5 nav-item-text"><a ng-click="logout()">Logout</a></div>
                </div>
            </div>
        </div>
    </div>

    <div id="content-wrapper" class="row">

        <div id="overlay"></div>

        <div id="pending-wrapper">
            <div class="pending-panel col s12" ng-init="getpeople()">
                <div class="row  panel-header">
                    <div class="col s12">
                        <div class="row">
                            <div class="col s8">
                                <span style="margin-right: 10px;">All Events</span>
                                <btn class="waves-effect waves-light btn generate-btn z-depth-0" onclick="generatePDF()" style="margin-right: 10px; padding: 0px 15px;">Generate Report</btn>
                            </div>
                            <div class="col s4 search-bar" >
                                <div class="input-field">
                                    <i class="material-icons prefix black-text">search</i>
                                    <input type="text" id="search-input" ng-model="query" placeholder="Search Users">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="collapsible" data-collapsible="expandable">
                    <li ng-repeat="person in people | filter:query">
                        <div class="collapsible-header"><i class="fa fa-user" aria-hidden="true"></i>{{ person.LastName }}, {{ person.FirstName }} {{ person.MiddleName }}</div>
                        <div class="collapsible-body">
                            <div class="profile-content">
                                <span class="entry-b">{{ person.EmailAddress }}</span> <br>
                                {{ person.Username }} <br>
                                <span class="entry-i">Status:
                                    <span ng-if="person.Status == 0">Not approved yet ({{ person.Status }})</span> 
                                    <span ng-if="person.Status == 1">Approved ({{ person.Status }})</span>
                                    <span ng-if="person.Status == 2">Granted admin privileges ({{ person.Status }})</span>
                                    <span ng-if="person.Status == 3">Deleted account ({{ person.Status }})</span>
                                </span><br>
                            </div>
                        </div>
                    </li>
                </ul>
                <table id="exportable" style="display: none;">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email Address</th>
                            <th>Username</th>
                            <th>Account Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="person in people | filter:query">
                            <td>{{ person.FirstName }} {{ person.MiddleName }} {{ person.LastName }}</td>
                            <td>{{ person.EmailAddress }}</td>
                            <td>{{ person.Username }}</td>
                            <td ng-if="person.Status == 0">Not yet approved</td>
                            <td ng-if="person.Status == 1">Approved</td>
                            <td ng-if="person.Status == 2">Granted admin privileges</td>
                            <td ng-if="person.Status == 3">Deleted account</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    function generatePDF() {
        var centeredText = function(text, y) {
            var textWidth = pdf.getStringUnitWidth(text) * pdf.internal.getFontSize() / pdf.internal.scaleFactor;
            var textOffset = (pdf.internal.pageSize.width - textWidth) / 2;
            pdf.setFontSize(50);
            pdf.text(textOffset, y, text);
        }
        var pdfsize = 'a0';
        var pdf = new jsPDF('l', 'pt', pdfsize);

        var res = pdf.autoTableHtmlToJson(document.getElementById("exportable"));


        centeredText("All Users ", 130);
        pdf.autoTable(res.columns, res.data, {
            startY: 200,
            styles: {
                overflow: 'linebreak',
                fontSize: 40,
                rowHeight: 100,
                columnWidth: 'auto',
            },

            columnStyles: {
                1: {
                    columnWidth: 'auto'
                }
            }

        });

        pdf.output('datauri');
    };
</script>
