<link rel="stylesheet" href="assets/css/admin-home.css">
<script type="text/javascript" src="assets/js/jspdf.min.js"></script>
<script type="text/javascript" src="assets/js/jspdf.plugin.autotable.js"></script>

<script type="text/javascript" src="../assets/js/auth.js"></script>
<script type="text/javascript" src="assets/js/defaults.js"></script>
<script type="text/javascript" src="../assets/js/admin-all-events.js"></script>
<script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>

<div id="main-wrapper" class="row">

	<div id="sidebar-wrapper" class="row">
        <div id="sidebar-overlay">
            <div id="sidebar-brand">
                <i class="material-icons" id="nav-toggle">menu</i>
                <h5 id="site-title">Events</h5>
            </div>
            <div id="profile">
                <img src="../assets/images/pusheen.gif" id="profile-icon">
                <span id="profile-name" class="white-text"></span>
            </div>
            <div id="sidebar-list">
                <a href="/#/admin/home">
                    <div class="row nav-item active-nav" id="side-nav-home">
                        <div class="col s3 nav-item-icon"><i class="fa fa-home" aria-hidden="true"></i></div>
                        <div class="col s5 nav-item-text"><a href="/#/admin/home">Home</a></div>
                    </div>
                </a>
                <a href="/#/admin/events">
                    <div class="row nav-item active-nav" id="side-nav-all-events">
                        <div class="col s3 nav-item-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                        <div class="col s5 nav-item-text"><a href="/#/admin/events">Events</a></div>
                    </div>
                </a>
                <a href="/#/admin/venues">
                    <div class="row nav-item active-nav" id="side-nav-all-venues">
                        <div class="col s3 nav-item-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="col s5 nav-item-text"><a href="/#/admin/venues">Venues</a></div>
                    </div>
                </a>
                <a href="/#/admin/users">
                    <div class="row nav-item active-nav" id="side-nav-all-users">
                        <div class="col s3 nav-item-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                        <div class="col s5 nav-item-text"><a href="/#/admin/users">Users</a></div>
                    </div>
                </a>
                <div class="row nav-item" ng-click="logout()">
                    <div class="col s3 nav-item-icon"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
                    <div class="col s5 nav-item-text"><a ng-click="logout()">Logout</a></div>
                </div>
            </div>
        </div>
    </div>

    <div id="content-wrapper" class="row">

        <div id="overlay"></div>

        <div id="pending-wrapper">
            <div class="pending-panel col s12" ng-init="getevents()">
                <div class="row  panel-header">
                    <div class="col s12">
                        <div class="row">
                            <div class="col s8">
                                <span style="margin-right: 10px;">All Events</span>
                                <btn class="waves-effect waves-light btn generate-btn z-depth-0" onclick="generatePDF()">Generate PDF</btn>
                            </div>
                            <div class="col s4 search-bar" >
                                <div class="input-field">
                                    <i class="material-icons prefix black-text">search</i>
                                    <input type="text" id="search-input" ng-model="query" placeholder="Search Events">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="collapsible" data-collapsible="expandable">
                    <li ng-repeat="event in events | filter:query">
                        <div class="collapsible-header"><i class="fa fa-calendar" aria-hidden="true"></i>{{ event.EventName }}</div>
                        <div class="collapsible-body">
                            <div class="profile-content">
                                <span class="entry-b">{{ event.EventDetails }}</span> <br>
                                {{ event.EventDate | date : "fullDate"}} <br>
                                <span class="entry-i">{{ event.EventStartTime }} - {{ event.EventEndTime }} &nbsp;&bullet;&nbsp; {{ event.Name }}</span><br>
                                <div class="action-panel">
                                    <button class="btn-floating waves-effect waves-light tooltipped modal-trigger left-btn  z-depth-0" data-position="top" data-delay="50" data-tooltip="Update"><i class="fa fa-pencil" aria-hidden="true" ng-click="updateEventModal(event.EventId, event.EventName, event.EventDetails, event.EventDate, event.EventStartTime, event.EventEndTime)" onclick="update()"></i></button>
                                    <button class="btn-floating waves-effect waves-light tooltipped z-depth-0 right-btn" data-position="top" data-delay="50" data-tooltip="Delete"><i class="fa fa-trash-o" aria-hidden="true" ng-click="deleteEvent(event.EventId)"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <table id="exportable" style="display:none;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Event Name</th>
                            <th>Event Details</th>
                            <th>Event Location</th>
                            <th>Event Date</th>
                            <th>Event Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="event in events | filter:query">
                            <td>{{ event.EventId }}</td>
                            <td>{{ event.EventName }}</td>
                            <td>{{ event.EventDetails }}</td>
                            <td>{{ event.Name }}</td>
                            <td>{{ event.EventDate | date : "fullDate"}}</td>
                            <td>{{ event.EventStartTime }} - {{ event.EventEndTime }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Update Event</h4>
                <div class="row">
                    <div class="input-field col s12 required">
                        <input ng-model="NewEventName" id="event-name" type="text" class="validate">
                        <label class="labelText" for="event-name">Event Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input ng-model="NewEventDetails" id="event-details" type="text" class="validate">
                        <label class="labelText" for="event-details">Event Details</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="date" ng-model="NewEventDate" id="event-date" class="datepicker">
                        <label class="labelText" for="date">Event Date</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input ng-model="NewEventStartTime" id="start-time" type="text" class="validate">
                        <label class="labelText" for="start-time">Start Time</label>
                    </div>
                    <div class="input-field col s6">
                        <input ng-model="NewEventEndTime" id="end-time" type="text" class="validate">
                        <label class="labelText" for="end-time">End Time</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a href="#/admin/events" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="editEvent()">UPDATE</a>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function(){
		$('.edit-event-icon').click(function(){
			console.log("clicked!");
		});
        $('.tooltipped').tooltip({delay: 50});
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year
            format: 'yyyy-mm-dd'
        });
    });
    function update(){
        $('#modal1').openModal();
    };
</script>
<script type="text/javascript">
    function generatePDF() {
        var centeredText = function(text, y) {
            var textWidth = pdf.getStringUnitWidth(text) * pdf.internal.getFontSize() / pdf.internal.scaleFactor;
            var textOffset = (pdf.internal.pageSize.width - textWidth) / 2;
            pdf.setFontSize(50);
            pdf.text(textOffset, y, text);
        }
        var pdfsize = 'a0';
        var pdf = new jsPDF('l', 'pt', pdfsize);

        var res = pdf.autoTableHtmlToJson(document.getElementById("exportable"));


        centeredText("All Events ", 130);
        pdf.autoTable(res.columns, res.data, {
            startY: 200,
            styles: {
                overflow: 'linebreak',
                fontSize: 40,
                rowHeight: 100,
                columnWidth: 'auto',
            },

            columnStyles: {
                1: {
                    columnWidth: 'auto'
                }
            }

        });

        pdf.output('datauri');
    };
</script>
