<link href="assets/css/home.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/admin-home.css">
<script type="text/javascript" src="assets/js/auth.js"></script>
<script type="text/javascript" src="assets/js/admin-all-venues.js"></script>
<script type="text/javascript" src="assets/js/defaults.js"></script>
<script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>

<div id="main-wrapper" class="row">

	<div id="sidebar-wrapper" class="row">
		<div id="sidebar-overlay">
			<div id="sidebar-brand">
				<i class="material-icons" id="nav-toggle">menu</i>
				<h5 id="site-title">Events</h5>
			</div>
			<div id="profile">
				<img src="../assets/images/icon-defaultprofile.png" id="profile-icon">
				<span id="profile-name" class="white-text"></span>
			</div>
			<div id="sidebar-list">
				<a href="/#/admin/home">
					<div class="row nav-item active-nav" id="side-nav-home">
						<div class="col s3 nav-item-icon"><i class="fa fa-home" aria-hidden="true"></i></div>
						<div class="col s5 nav-item-text"><a href="/#/admin/home">Home</a></div>
					</div>
				</a>
				<a href="/#/admin/events">
					<div class="row nav-item active-nav" id="side-nav-all-events">
						<div class="col s3 nav-item-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
						<div class="col s5 nav-item-text"><a href="/#/admin/events">Events</a></div>
					</div>
				</a>
				<a href="/#/admin/venues">
					<div class="row nav-item active-nav" id="side-nav-all-venues">
						<div class="col s3 nav-item-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
						<div class="col s5 nav-item-text"><a href="/#/admin/venues">Venues</a></div>
					</div>
				</a>
				<a href="/#/admin/users">
					<div class="row nav-item active-nav" id="side-nav-all-users">
						<div class="col s3 nav-item-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
						<div class="col s5 nav-item-text"><a href="/#/admin/users">Users</a></div>
					</div>
				</a>
				<div class="row nav-item" ng-click="logout()">
					<div class="col s3 nav-item-icon"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
					<div class="col s5 nav-item-text"><a ng-click="logout()">Logout</a></div>
				</div>
			</div>
		</div>
	</div>

	<div id="content-wrapper" class="row">

        <div id="overlay"></div>

        <div id="pending-wrapper">
			<div class="pending-panel col s12" ng-init="getvenues()">
                <h3>All Venues</h3>
                <ul class="collapsible" data-collapsible="expandable">
                    <li ng-repeat="venue in venues">
                        <div class="collapsible-header"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ venue.Name }}</div>
                        <div class="collapsible-body">
                            <div class="profile-content">
                                {{ venue.Details }} <br>
                                {{ venue.Status }} <br>
                                Capacity: {{ venue.Capacity }}<br>
                                <div class="action-panel">
                                    <button class="action-button"><i class="fa fa-check" aria-hidden="true"></i></button>
                                    <button class="action-button"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
