<div ng-init="getpeople()">
	<h4> PERSON <small>TABLE</small></h4>
	<table class="table bordered striped centered">
		<thead>
			<th>Person ID</th>
			<th>Name</th>
			<th>Email Address</th>
			<th>Account Type</th>
			<th>Username</th>
			<th>Password</th>
		</thead>
		<tbody>
			<tr ng-repeat="person in people">
				<td>{{ person.PersonId }}</td>
				<td>{{ person.FirstName }} {{ person.MiddleName }} {{ person.LastName }}</td>
				<td>{{ person.EmailAddress }}</td>
				<td>{{ person.AccountType }}</td>
				<td>{{ person.Username }}</td>
				<td>{{ person.Password }}</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript" src="../assets/js/auth.js"></script>