<link href="assets/css/home.css" rel="stylesheet">
<script type="text/javascript" src="assets/js/auth.js"></script>
<script type="text/javascript" src="assets/js/home.js"></script>
<script type="text/javascript" src="assets/js/defaults.js"></script>


<div id="main-wrapper" class="row">

    <div id="sidebar-wrapper" class="row">
        <div id="sidebar-overlay">
            <div id="sidebar-brand">
                <i class="material-icons" id="nav-toggle">menu</i>
                <h5 id="site-title">Events</h5>
            </div>
            <div id="profile">
                <img src="../assets/images/icon-defaultprofile.png" id="profile-icon">
                <span id="profile-name" class="white-text"></span>
            </div>
            <div id="sidebar-list">
                <a href="/#/user/home">
                    <div class="row nav-item active-nav" id="side-nav-home">
                        <div class="col s3 nav-item-icon"><i class="fa fa-home" aria-hidden="true"></i></div>
                        <div class="col s5 nav-item-text"><a href="/#/user/home">Home</a></div>
                    </div>
                </a>
                <a href="/#/search">
                    <div class="row nav-item" id="side-nav-search">
                        <div class="col s3 nav-item-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="col s5 nav-item-text"><a href="/#/search">Search</a></div>
                    </div>
                </a>
                <div class="row nav-item" ng-click="logout()">
                    <div class="col s3 nav-item-icon"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
                    <div class="col s5 nav-item-text"><a ng-click="logout()">Logout</a></div>
                </div>
            </div>
        </div>
    </div>

    <div id="content-wrapper" class="row">

        <div id="overlay"></div>

        <div id="card-wrapper">
            <div class="col s12">

                <div class="col s6" class="top-panel">
                    <div class="card dash-card" id="activity-log">
                        <div class="s12" id="activity-log-header">Major Events</div>
                        <div class="s12" id="activity-log-body">
                            <ul>
                                <li class="activity">
                                    <p class="activity-title">UP Bugkos Pizza Party</p>
                                    <p>November 11, 2016 &bullet; 77 Events Place</p>
                                </li>
                                <li class="activity">
                                    <p class="activity-title">Open Air Screen</p>
                                    <p>November 9, 2016 &bullet; Freedom Park</p>
                                </li>
                                <li class="activity">
                                    <p class="activity-title">Hydro Laguna</p>
                                    <p>November 4, 2016 &bullet; Calamba, Laguna</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col s3" class="top-panel">
                    <div class="card" id="view-all-events">
                        <div class="card-image">
                            <img alt="events" src="assets/images/events-img.jpg"/>
                        </div>
                        <div class="card-content">
                            <p>See what's happening on your neighborhood!</p>
                        </div>
                        <div class="card-content card-link-wrapper">
                            <a href="#/user/events" class="card-link">View All Events</a>
                        </div>
                    </div>
                </div>

                <div class="col s3" class="top-panel">
                    <div class="card" id="view-all-venues">
                        <div class="card-image">
                            <img alt="events" src="assets/images/venues-img.jpg"/>
                        </div>
                        <div class="card-content">
                            <p>More venues for your upcoming events!</p>
                        </div>
                        <div class="card-content card-link-wrapper" style="padding:20px">
                            <a href="#/user/venues" class="card-link">View All Venues</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="col s6">
                    <div class="card-panel" id="requests-wrapper">
                        Reservation Request
                    </div>
                </div>
                <div class="col s6">
                    <div class="card-panel" id="notification-wrapper">
                        Notification
                        <div class="notification">Venue reservation for event has been approved.</div>
                        <div class="notification">Event submitted for approval.</div>
                    </div>
                </div>
            </div>

            <div class="fixed-action-btn horizontal">
                <button class="btn-floating btn-large" id="add-event-trig"><i class="large material-icons" id="add-fab">event</i></button>
            </div>

            <!-- Modal Structure -->
            <div id="add-event" class="modal-card">
                <div class="modal-content">
                    <h4>Add New Event</h4>
                    <div class="input-field col s12">
                        <input placeholder="Event Name" ng-model="EventName" id="event-name" type="text" class="validate">
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="Event Details" ng-model="EventDetails" id="event-details" type="text" class="validate">
                    </div>
                    <div class="input-field col s12">
                        <label for="date">Event Date</label>
                        <input type="date" ng-model="EventDate" id="date" class="datepicker">
                    </div>
                    <div class="input-field col s12">
                        <!-- <label for="start-time">Start Time</label> -->
                        <input placeholder="Start Time" ng-model="EventStartTime" name="start-time" id="start-time" type="time" class="validate">
                    </div>
                    <div class="input-field col s12">
                        <!-- <label for="end-time">End Time</label> -->
                        <input placeholder="End Time" ng-model="EventEndTime" name="end-time" id="end-time" type="time" class="validate">
                    </div>
                    <div class="modal-footer">
                        <a href="/#/user/home" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="addEvent()">ADD</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
