<link href="assets/css/profile.css" rel="stylesheet">

<div id="card-wrapper">
  <div class="col s12">

    <div class="col s6">
      <div class="card-panel dash-card" id="calendar-wrapper">
        <div class="month">
          <ul>
            <li class="prev">❮</li>
            <li class="next">❯</li>
            <li style="text-align:center">
              August<br>
              <span style="font-size:18px">2016</span>
            </li>
          </ul>
        </div>

        <ul class="weekdays">
          <li>Mo</li>
          <li>Tu</li>
          <li>We</li>
          <li>Th</li>
          <li>Fr</li>
          <li>Sa</li>
          <li>Su</li>
        </ul>

        <ul class="days">
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li><span class="active">10</span></li>
          <li>11</li>
          <li>12</li>
          <li>13</li>
          <li>14</li>
          <li>15</li>
          <li>16</li>
          <li>17</li>
          <li>18</li>
          <li>19</li>
          <li>20</li>
          <li>21</li>
          <li>22</li>
          <li>23</li>
          <li>24</li>
          <li>25</li>
          <li>26</li>
          <li>27</li>
          <li>28</li>
          <li>29</li>
          <li>30</li>
          <li>31</li>
        </ul>

      </div>
    </div>

    <div class="col s3">
      <div class="card" id="view-all-events">
        <div class="card-image">
          <img alt="events" src="assets/images/events-img.jpg"/>
        </div>
        <div class="card-content">
          <p>See what's happening on your neighborhood!</p>
        </div>
        <div class="card-content card-link-wrapper">
          <a href="#" class="card-link">View All Venues</a>
        </div>
      </div>
    </div>

    <div class="col s3">
      <div class="card" id="view-all-venues">
        <div class="card-image">
          <img alt="events" src="assets/images/venues-img.jpg"/>
        </div>
        <div class="card-content">
          <p>More venues for your upcoming events!</p>
        </div>
        <div class="card-content card-link-wrapper" style="padding:20px">
          <a href="#" class="card-link">View All Venues</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="col s4">
      <div class="card-panel dash-card"></div>
    </div>
    <div class="col s8">
      <div class="card dash-card" id="activity-log">
        <div class="s12" id="activity-log-header">Activity Log</div>
        <div class="s12" id="activity-log-body">
          <ul>
            <li class="activity">
              <p class="activity-title">UP Bugkos Pizza Party</p>
              <p>November 11, 2016, 77 Events Place</p>
            </li>
            <li class="activity">
              <p class="activity-title">UP Bugkos Pizza Party</p>
              <p>November 11, 2016, 77 Events Place</p>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="../assets/js/profile.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuSn43crhAL6geKe88vha2Y0IKKFlsElA&callback=renderVenueMap" defer></script>
