<link href="assets/css/login.css" rel="stylesheet">
<script type="text/javascript" src="assets/js/login.js"></script>

<div id="main-wrapper" class="row">

    <div class="slider fullscreen" id="slider-photo">
        <div id="slider-overlay"></div>
        <ul class="slides">
            <li><img src="../assets/images/header.jpg"></li>
            <li><img src="../assets/images/header1.jpg"></li>
            <li><img src="../assets/images/header2.jpg"></li>
            <li><img src="../assets/images/header3.jpg"></li>
            <li><img src="../assets/images/header4.jpg"></li>
            <li><img src="../assets/images/header5.jpg"></li>
            <li><img src="../assets/images/header6.jpg"></li>
        </ul>
    </div>

    <div class="row" id="main-container">
        <h1>E</h1>
        <div class="col s12">
            <div class="card hoverable" id="login-container">
                <div class="card-content">
                    <div class="row" id="tabs">
                        <ul class="tabs">
                            <li class="tab col s6"><a  class="active" href="#login">Login</a></li>
                            <li class="tab col s6"><a href="#sign-up">Sign-up</a></li>
                        </ul>
                    </div>
                    <div class="row" id="login-views">
                        <div id="login" class="col s12">
                            <div class="input-field">
                                <i class="material-icons prefix">account_circle</i>
                                <input ng-model="username" name="username" type="text" class="validate" placeholder="Username">
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">lock</i>
                                <input ng-model="password" name="password" type="password" class="validate" placeholder="Password">
                            </div>
                            <a class="waves-effect waves-light btn" ng-click="login()">LOGIN</a>
                            <p id="forgot-password"><a href="#/">Forgot password?</a></p>
                        </div>
                        <form id="sign-up" class="col s12">
                            <div class="row" id="form-scroll">
                                <div class="row">
                                    <div class="input-field col s10">
                                        <input placeholder="Drew" ng-model="FirstName" id="first-name" type="text" class="validate" required>
                                        <label for="first-name">First Name</label>
                                    </div>
                                    <div class="input-field col s2">
                                        <input placeholder="S" ng-model="MiddleName" id="middle-initial" type="text" class="validate" required>
                                        <label for="middle-initial">M.I.</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="Thirty" ng-model="LastName" id="last-name" type="text" class="validate" required>
                                        <label for="last-name">Last Name</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="drew30@up.edu.ph" ng-model="EmailAddress" id="email" type="email" class="validate" required>
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="" id="username" ng-model="Username" type="text" class="validate" required>
                                        <label for="username">Username</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder=" " id="password" ng-model="Password" type="password" class="validate" required>
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="09301233030" ng-model="ContactNo" id="contact-no" type="text" class="validate" required>
                                        <label for="contact-no">Contact No.</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="Drew Dirty Squad (DDS)" ng-model="AffiliationName" id="affiliation" type="text">
                                        <label for="affiliation">Affiliation (Optional)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="form-submit">
                                <a class="waves-effect waves-light btn" ng-click="signup()">SIGN UP</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <p id="card-footer">All Rights Reserved. 2016.</p>
            </div>
        </div>
    </div>
</div>
