<!DOCTYPE html>
<html>

<head>
    <title>Login | Datababes</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" >
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css" >
    <link rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css">
</head>

<body>
    <main>
        <div class="container">
            <span>EVENT.io</span>
            <div>
                <div class="slider fullscreen" id="slider-photo">
                    <ul class="slides">
                        <li><img src="../assets/images/header.jpg"></li>
                        <li><img src="../assets/images/header1.jpg"></li>
                        <li><img src="../assets/images/header2.jpg"></li>
                    </ul>
                </div>
            </div>
            <div class="card" id="login-container">
                <div class="card-content">
                    <span class="card-title">START CREATING EVENTS.</span>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Username</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">Password</label>
                    </div>
                    <a class="waves-effect waves-light lime btn">LOGIN</a>
                    <span><a href="#/" class="lime-text">Forgot password?</a></span>
                </div>
            </div>
            <h3>2016 Event.io</h3>
        </div>
    </main>

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../assets/js/script.js"></script>
</body>

</html>