<link href="../assets/css/login.css" rel="stylesheet">


<div id="main-wrapper" class="row">
    <div class="slider fullscreen" id="slider-photo">
        <div id="slider-overlay"></div>
        <ul class="slides">
            <li><img src="../assets/images/header.jpg"></li>
            <li><img src="../assets/images/header1.jpg"></li>
            <li><img src="../assets/images/header2.jpg"></li>
            <li><img src="../assets/images/header3.jpg"></li>
            <li><img src="../assets/images/header4.jpg"></li>
            <li><img src="../assets/images/header5.jpg"></li>
            <li><img src="../assets/images/header6.jpg"></li>
        </ul>
    </div>

    <div class="row" id="main-container">
        <h1>E</h1>
        <div class="col s12">
            <div class="card hoverable" id="login-container">
                <div class="card-content">
                    <span class="card-title">START CREATING EVENTS</span>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" name="username" type="text" class="validate" placeholder="Username">
                        <!-- <label for="username">Username</label> -->
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" name="password" type="password" class="validate" placeholder="Password">
                        <!-- <label for="password">Password</label> -->
                    </div>
                    <a class="waves-effect waves-light btn" onclick="login()">LOGIN</a>
                    <p id="forgot-password"><a href="#/">Forgot password?</a></p>
                </div>
            </div>
            <div>
                <p id="card-footer">All Rights Reserved. 2016.</p>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="../assets/js/login.js"></script>
