<link href="assets/css/search.css" rel="stylesheet">
<script type="text/javascript" src="assets/js/auth.js"></script>
<script type="text/javascript" src="assets/js/search.js"></script>
<script type="text/javascript" src="assets/js/defaults.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuSn43crhAL6geKe88vha2Y0IKKFlsElA&callback=renderVenueMap" defer></script>

<div id="main-wrapper" class="row">

    <div id="sidebar-wrapper" class="row card">
        <div id="sidebar-overlay">
            <div id="sidebar-brand">
                <i class="material-icons" id="nav-toggle">menu</i>
                <h5 id="site-title">Events</h5>
            </div>
            <div id="profile">
                <img src="../assets/images/pusheen.gif" id="profile-icon">
                <span id="profile-name" class="white-text"></span>
            </div>
            <div id="sidebar-list">
                <a href="/#/user/home">
                    <div class="row nav-item active-nav" id="side-nav-home">
                        <div class="col s3 nav-item-icon"><i class="fa fa-home" aria-hidden="true"></i></div>
                        <div class="col s5 nav-item-text"><a href="/#/user/home">Home</a></div>
                    </div>
                </a>
                <a href="/#/user/profile">
                    <div class="row nav-item" id="side-nav-profile">
                        <div class="col s3 nav-item-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                        <div class="col s5 nav-item-text"><a href="/#/user/profile">Profile</a></div>
                    </div>
                </a>
                <a href="/#/search">
                    <div class="row nav-item" id="side-nav-search">
                        <div class="col s3 nav-item-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="col s5 nav-item-text"><a href="/#/search">Search</a></div>
                    </div>
                </a>
                <div class="row nav-item" ng-click="logout()">
                    <div class="col s3 nav-item-icon"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
                    <div class="col s5 nav-item-text"><a ng-click="logout()">Logout</a></div>
                </div>
            </div>
        </div>
    </div>

    <div id="content-wrapper" class="row col">

        <div id="query-panel" class="col s4">
            <div class="row" id="search-box">
                <div class="input-field col s11">
                    <input placeholder="search venue or event here" id="first_name" type="text" class="validate">
                </div>
                <div class="col s1" id="search-button-wrapper">
                    <i class="material-icons" id="search-button">search</i>
                </div>
            </div>
            <div id="results-box">
                <div class="col s12">
                    <input id="latitude" name="latitude" type="number" placeholder="latitude">
                </div>
                <div class="col s12">
                    <input id="longitude" name="longiutude" type="number" placeholder="longitude">
                </div>
                <div class="col s12">
                    <button id="mapit">Go</button>
                </div>
                <div>
                    Baker Hall (14.1618156, 121.24273979999998)<br>
                    DL Umali (14.1699121, 121.24406309999995)<br>
                    CPark (14.1650169, 121.24156289999996)

                </div>
            </div>
        </div>
        <div id="venue-map-wrapper" class="col s8">
            <div id="venue-map"></div>
        </div>
    </div>

</div>
