<script type="text/javascript" src="../assets/js/auth.js"></script>

<div id="main-wrapper" class="row">

	<div id="sidebar-wrapper" class="row">
		<div id="sidebar-overlay">
			<div id="sidebar-brand">
				<i class="material-icons" id="nav-toggle">menu</i>
				<h5 id="site-title">Events</h5>
			</div>
			<div id="profile">
				<img src="../assets/images/icon-defaultprofile.png" id="profile-icon">
                <span id="profile-name" class="white-text"></span>
			</div>
			<div id="sidebar-list">
				<div class="row nav-item active-nav" id="side-nav-home">
					<div class="col s3 nav-item-icon"><i class="fa fa-home" aria-hidden="true"></i></div>
					<div class="col s5 nav-item-text"><a href="/#/user/home">Home</a></div>
				</div>
				<div class="row nav-item active-nav" id="side-nav-all-events">
					<div class="col s3 nav-item-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
					<div class="col s5 nav-item-text"><a href="/#/user/events">Events</a></div>
				</div>
				<div class="row nav-item active-nav" id="side-nav-all-venues">
					<div class="col s3 nav-item-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
					<div class="col s5 nav-item-text"><a href="/#/user/venues">Venues</a></div>
				</div>
				<div class="row nav-item">
					<div class="col s3 nav-item-icon"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
					<div class="col s5 nav-item-text"><a ng-click="logout()">Logout</a></div>
				</div>
			</div>
		</div>
	</div>

	<div id="content-wrapper" class="row">

		<div ng-init="getevents()">
			<h4> EVENT <small>TABLE</small></h4>
			<table class="table bordered striped">
				<thead>
					<th>Id</th>
					<th>Name</th>
					<th>Details</th>
					<th>Date</th>
					<th>StartTime</th>
					<th>EndTime</th>
				</thead>
				<tbody>
					<tr ng-repeat="event in events">
						<td>{{ event.EventId }}</td>
						<td>{{ event.EventName }}</td>
						<td>{{ event.EventDetails }}</td>
						<td>{{ event.EventDate | date : "fullDate"}}</td>
						<td>{{ event.EventStartTime }}</td>
						<td>{{ event.EventEndTime }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
]<script type="text/javascript" src="../assets/js/admin-all-events.js"></script>
